* {
    font-family: 'Montserrat';
}

html, body {
    height:100%;
}

body {
    background-image: linear-gradient(340deg, #e6d6be, #e3d0bb, #dfcbb8, #dbc5b5, #d7c0b2, #d3bbb1, #ceb7af, #c9b3ae, #c2afac, #bcabab, #b4a7a8, #ada3a5);
    margin: 0;
    display: flex;
    flex-direction: column;
    height:100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content {
    flex: 1 0 auto;
}

header, main, footer{
    display: grid;
    grid-template-columns: 1fr 80em 1fr;
}

footer {
    margin-top: 16px;
}

.footer-grid {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    padding: 1.5rem;
    gap: 1.5rem;
    text-shadow: 1px 1px 0px #898989;
}

h1 {
    font-size: 32px;
    color: white;
    margin: 50px 0px;
    text-shadow: 2px 3px 0px #898989;
}

h2 {
    font-size: 1.75rem;
    margin: 1rem 1.5rem;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0px;
}

#header-content {
    grid-column: 2 / 3;
    display:flex;
    justify-content: space-between;
}

header h1 {
    grid-column: 2;
    text-align: center;
}

nav {
    margin: 0;
    padding: 58px 0px;
}

nav ul {
    display: flex;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    grid-gap: 2rem;
    justify-items: center;
}

.nav-item a:hover {
    text-shadow: none;
    border-bottom: 3px solid #107980;
}

.nav-item a {
    text-decoration: none;
    color: white;
    text-align: center;
    height: 1.5rem;
    text-shadow: 1.5px 1.5px 0px #898989;
    -webkit-tap-highlight-color: transparent;
}

main section {
    margin: 0 0 1vw 0;
    grid-column: 2;
    display:grid;
}



.grid-content-3x1fr {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.grid-content-1fr {
    display:grid;
    grid-template-columns: 1fr 40em 1fr;
}


.grid-content-2xfr {
    display:grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 1.5rem;
    align-items: start;
}

.grid-content-2x1fr {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: start;
}

#image_source {
    margin: 0px;
    color: #eeeeee;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 10px;
}



.article-grid {
    padding: 1.5rem;
}

.grid-row-2 {
    grid-row: span 2;
}

.grid-central{
    grid-area: 1 / 2;
}

.highlight {
    background-color: rgb(255 255 255 / 95%);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.highlight-2 {
    background-color: hsla(0, 0%, 100%, 0.95);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-text {
    padding: 1.5rem;
    margin-bottom: 1.5rem
}

.main-text p {
    margin-bottom: 0px;
}

#image {
    max-width: 580px;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}

#image-article {
    text-align: center;
    grid-row: span 2;
    padding: 0;
}

.accordion {
    margin: 0;
}

.text-center {
    text-align: center;
}

#attribute-form {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    transition: opacity .15s linear;
}

#attribute-form input {
    border: none;
    font-size: 1em;
    padding-left: 10px;
    border-radius: 8px;
}

#attribute-form > *{
     height: 36px;
}

button {
    background-color: #76A1A7;
    border: none;
    color: white;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 6px 0px;
    -webkit-tap-highlight-color: transparent;
}

.color-2 {
    background-color: #107980
}

button:hover {
    box-shadow: none;
}

button:disabled,
button[disabled]{
    background-image: linear-gradient(161deg, #dadada, #d2d2d2, #cacaca, #c3c3c3, #bbbbbb);
    pointer-events: none;
    box-shadow: none;
}

.secondary-button {
    background-image: none;
    background-color: #898989;
    color: white;
    box-shadow: inset rgb(0 0 0 / 35%) 0px 0px 6px 0px;
}

.central-button {
    width: 100%;
    height: 36px;
}


#submit {
    grid-column: 1 / 3;
}

.article-grid-button {
    float: right;
    padding: 5px 10px;
    margin-left: 20px;
}



::placeholder {
    color: #c4c4c4;
}

.attribute-toggle {
    display:flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid #76A1A7;
    background-color: white;
}

.attribute-toggle-title {
    border-radius: 8px;
    padding: 10px 8px;
    width: 150px;
}

/* ALERT */

.alert {
    position: absolute;
    width: calc(100% - 0.8rem);
    box-sizing: border-box;
    padding: 0.4rem 1.25rem 0.25rem 1.25rem;
    border-radius: 8px;
    top: 0.4rem;
    left: 0.4rem;
}

.alert-danger {
    color: #721c24;
    background-color: rgb(248 215 218 / 85%);
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px;
}

.alert-success {
    color: #155724;
    background-color: rgb(212 237 218 / 85%);
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px;
}

.close {
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    opacity: .5;
    background-image: none;
    background-color: transparent;
    box-shadow: none;
}

.close:hover {
    opacity: 1;
}


/* TOGGLE */

.tw-toggle {
    display: inline-block;
    padding: 2px;
    border-radius: 8px;
    width: 64px;
    position:relative;
}

.tw-toggle label {
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    color: #76A1A7;
    position:relative;
    z-index:2;
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.toggle-no {
    padding-left: 6px;
}

.toggle-yes {
    padding: 5px 0px 0px 7px;
}

.tw-toggle input {
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
    height: 28px;
    width: 28px;
    margin: 2px;
    -webkit-tap-highlight-color: transparent;
}

.tw-toggle input:nth-child(3) {
    right: 2px
}

.tw-toggle span {
    height: 32px;
    width: 32px;
    border-radius: 15%;
    display:block;
    position:absolute;
    left: 18px;
    top: 2px;
    transition:all 0.3s ease-in-out;
}

.tw-toggle input[value="false"]:checked ~ span{
    background:#e74c3c;
    left:2px;
    color:#fff;
}

.tw-toggle input[value="true"]:checked ~ span{
    background:#27ae60;
    left: 34px;
}

.tw-toggle input[value="false"]:checked + label,.tw-toggle input[value="true"]:checked + label{
    color:#fff;
}



@media only screen and (max-width: 81em) {
    .grid, header, footer, main{
        grid-template-columns: 2vw 1fr 2vw;
    }


}

@media only screen and (max-width: 57em) {
    #image-grid {
        grid-template-columns: 1fr;
    }

    #image-article {
        grid-row:2;
    }
}

@media only screen and (max-width: 50em) {
    nav ul, .grid-content-2xfr, .grid-content-3x1fr, .grid-content-2x1fr, .footer-grid, .grid-content-1fr{
        grid-template-columns: 1fr;
        display: grid;
    }

    #header-content {
        flex-direction: column;
    }

    h1 {
        margin: 20px 0px;
    }

    nav
    {
        padding: 26px 0px;
    }

    main section {
        grid-column: 1 / 4;
    }
}

@media only screen and (max-width: 580px) {
    #attribute-form {
        grid-template-columns: 1fr;
    }

    #submit {
        grid-column: 1 / 2;
    }
    
}