<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <title>Sběr atributů</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/main.css">
    </head>

    <body>
        <div class="content">
            <header>
                <div id="header-content">
                    <h1>Obrázkový dataset s atributy</h1>
                    <nav>
                        <ul>
                            <li class="nav-item">
                                <a id="/" href="/">O projektu</a>
                            </li>
                            <li class="nav-item">
                                <a id="/form" href="/form">Dotazník</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <div class="alert alert-danger alter-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" onClick="delete_flash(this)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% else %}
                            <div class="alert alert-success alter-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="close" onClick="delete_flash(this)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <main>
                <section>{% block section %}{% endblock %}</section>
            </main>
        </div>
        <footer>
            <section class="footer-grid">
                <article>
                    <h4>Lukáš Jiříček</h4>
                </article>
                <article>
                    <h4>lukas.jiricek01@upol.cz</h4>
                </article>
                <article>
                    <h4></h4>
                </article>
            </section>

        </footer>
        <script>
            function delete_flash(flash) {
                document.getElementsByClassName("alert")[0].remove();
            }
            document.addEventListener("DOMContentLoaded", function(){
                var url = new URL(window.location.href).pathname
                document.getElementById(url).style.borderBottom = "solid 2px white";
                document.getElementById(url).style.textShadow = "none";
            });
        </script>
    </body>
</html>