{% extends "base.html" %}
{% block section %}
    <article class="main-text highlight grid-row-2">
        <h3>O datasetu</h3>
        <p>
            Dataset je zaměřený na okruh objektů z kategorie <b>"Nábytek"</b>. Obsahuje 57 objektů z 4 kategorií (Postel, Židle, Stůl, Skříň) a 90 atributů z 11 kategorií, popisující objektivní a subjektivní vlastnosti. Všechny obrázky objektů byly publikovány pod licencí Creative Commons, zdroje jsou uvedeny při stažení kompletního datasetu. 
        </p>
        <p>
            Tazateli je ukázán objekt a 12 atributů. Jeho úkolem je vybrat, zda atribut popisuje objekt. Tazatel není nijak omezen v počtu vyplnění. Výsledný dataset obsahuje objekty a seznam atributů s daty z odpovědí, které atributy objekt popisují a které ne. Data v tomto datasetu představují odpovědi od různých tazatelů, kteří můžou odpovídat rozdílně. S větším množstvím odpovědí je cílem těchto dat ukázat jak by průměrný člověk objekty popsal.
        </p>
        <p></p>
        <a href="{{ url_for('.download_full') }}"><button type="button" class="color-2 article-grid-button">Kompletní dataset</button></a>
        <a href="{{ url_for('.download_pictures') }}"><button type="button" class="article-grid-button">Obrázky objektů</button></a>
    </article>
    <div class="grid-content-2x1fr">
        <article class="article-grid highlight">
            <h3>JSON</h3>
            <p>
                Dataset ve formátu JSON je dostupný ve dvou provedení. Kompletní data obsahují všechny informace o objektech, zdroje a odpovědi z datasetu. Zjednodušená data obsahují objekt a finální data z odpovědí. Detailní popisy obou provedení jsou součástí staženého souboru.
            </p>
            <a href="{{ url_for('.download_json') }}"><button type="button" class="color-2 article-grid-button">Stáhnout JSON</button></a>
        </article>
        <article class="article-grid highlight">
            <h3>CSV</h3>
            <p>
                Formát CSV je dostupný ve zjednodušené formě, vhodné pro tabulkové zobrazení, třídění a řazení. Detailní popis dat součástí staženého souboru.
            </p>

            <a href="{{ url_for('.download_csv') }}"><button href="{{ url_for('.download_csv') }}" type="button" class="color-2 article-grid-button">Stáhnout CSV</button></a>

        </article>
    </div>
{% endblock %}