{% extends "base.html" %}
{% block section %}
    <div class="grid-content-1fr">
        <article class="article-grid highlight grid-central">
            <h3>Jak dotazník vyplňovat</h3>
            <p>
                V dotazníku se nachází objekt na obrázku a seznam vybraných vlastností. Váš úkol je rozhodnout, zda daná vlasnost popisuje objekt na obrázku. Pokud vlastnost popisuje objekt, vyberte odškrknutí ("fajfka"). Pokud si nejste jistí, nebo vlastnost objekt nepopisuje, vyberte křížek.
            </p>
            <p>
                Počet vyplnění není nijak stanoven, dotazník můžete vyplňovat neomezeně. Každý odpověď je velkým přínosem a zlepšuje celý výsledný dataset.
            </p>
            <p>
                Dotazník je zcela anonymní, žádné osobní údaje nejsou ukládány a získané informace budou sloužit pouze pro účely zmiňované bakalářské práce. Pokračováním na dotazník dáváte souhlas se zapojením do sběru dat v rámci této práce.
            </p>
            <a href="/form2"><button type="button" class="color-2 central-button">Pokračovat na dotazník</button></a>

        </article>
    </div>
{% endblock %}