{% extends "base.html" %}
{% block section %}
    <h2>Dotazník</h2>
    <div id="image-grid">
        <article id="image-article" class="article-grid">
            <img id="image" class="highlight" src="../static/img/chair/Chair 2.jpg">
        </article>
        <article class="article-grid highlight">
            <h3>Popis atributů</h3>
            <p>
                Donec vitae arcu. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. In rutrum. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Fusce aliquam vestibulum ipsum. Quisque tincidunt scelerisque libero. Maecenas lorem.                        
            </p>
        </article>
        <article id="attribute-article" class="article-grid highlight">
            
        </article>
    <div>
{% endblock %}