{% extends "base.html" %}
{% block section %}
                    <h2>O Projektu</h2>
                    <p class="main-text">
                        Tato webová aplikace je součástí bakalářské
                    </p>
                    <div class="grid-content-2x1fr">
                        <article class="article-grid highlight">
                            <h3>Současný dotazník</h3>
                            <p>
                                Maecenas sollicitudin. Donec vitae arcu. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. In rutrum. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Fusce aliquam vestibulum ipsum. Quisque tincidunt scelerisque libero. Maecenas lorem.                        
                            </p>
                        </article>
                        <article class="article-grid">
                            <h3>Data</h3>
                            <p>
                                Donec vitae arcu. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. In rutrum. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat ante, in pharetra metus odio a lectus. Fusce aliquam vestibulum ipsum. Quisque tincidunt scelerisque libero. Maecenas lorem.                        
                            </p>
                        </article>
                    </div>
{% endblock %}